<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="tech.ecsoftware.onstore">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AcercaDe"
            android:label="@string/acerca_de"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Store"
            android:label="@string/store"
            android:screenOrientation="portrait" />
        <activity
            android:name=".RedesSocial"
            android:label="@string/social"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Contact"
            android:label="@string/contact"
            android:screenOrientation="portrait" />
        <activity
            android:name=".StoreComputers"
            android:label="@string/computers"
            android:screenOrientation="portrait" />
        <activity
            android:name=".StoreCars"
            android:label="@string/cars"
            android:screenOrientation="portrait" />
        <activity
            android:name=".StoreKids"
            android:label="@string/kids"
            android:screenOrientation="portrait" />
        <activity
            android:name=".StoreCare"
            android:label="@string/care"
            android:screenOrientation="portrait" />
        <activity
            android:name=".StoreSports"
            android:label="@string/sports"
            android:screenOrientation="portrait" />
        <activity
            android:name=".StoreElectronic"
            android:label="@string/electronic"
            android:screenOrientation="portrait" />
        <activity
            android:name=".StoreHealth"
            android:label="@string/health"
            android:screenOrientation="portrait" />
        <activity
            android:name=".StoreGames"
            android:label="@string/games"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AddProducts"
            android:label="@string/aggProduct"
            android:screenOrientation="portrait" />
        <activity android:name=".AddCategory"
            android:label="@string/addCategory"
            android:screenOrientation="portrait" />
        <activity android:name=".StoreCategory"
            android:label="@string/category"
            android:screenOrientation="portrait" ></activity>
    </application>

</manifest>