<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="tech.ecsoftware.onstore">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AcercaDe"
            android:label="@string/acerca_de"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Store"
            android:label="@string/store"
            android:screenOrientation="portrait" />
        <activity
            android:name=".RedesSocial"
            android:label="@string/social"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Contact"
            android:label="@string/contact"
            android:screenOrientation="portrait" />
        <activity
            android:name=".StoreComputers"
            android:label="@string/computers"
            android:screenOrientation="portrait" />
        <activity android:name=".StoreCars" />
        <activity android:name=".StoreKids" />
        <activity android:name=".StoreCare" />
        <activity android:name=".StoreSports" />
        <activity android:name=".StoreElectronic" />
        <activity android:name=".StoreHealth" />
        <activity android:name=".StoreGames" />
        <activity android:name=".AddProducts"></activity>
    </application>

</manifest>